:root {
  --primary-color: #B31312;
  --secondary-color: #2B2A4C;
  --bg-color: #EEE2DE;
  --text-color-subtle: #5c5b70;
  --accent-color-orange: #EA906C;
  --accent-green: #166534;
  --font-sans: var(--font-poppins);
  --font-christmas: var(--font-mountains-of-christmas);
}

/* Reset and base styles */
body {
  background-color: var(--bg-color);
  color: var(--text-color-subtle);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}